.navbar{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 16px;
    margin: 16px;

}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(2, 20, 125, 0.2);
}
.navbar-links{
    display: flex;
    gap: 20px;
}
.navbar-links:hover {
    text-decoration: underline;

}
button{
    background-color: blue; /* Green */
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
}
button:hover{
    background-color: rgb(116, 116, 137);
    cursor: pointer;
}
form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
